@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello!</h1>

<h3>Welcome to sg-transpo-dss!</h3>

<div>
    <p>
        This DSS (Decision Support System) was specifically tailored for use at: <strong>Kingsford Waterbay, Upper Serangoon View, S533884</strong>
    </p>

    <p>Main function of this web app is to help Kingsford residences to decide which transport mode (Condo Shuttle vs. Bus) should they take. Decision is made based on that depends on the following factors:</p>
    <ul>
        <li>
            - Nearest Bus Stop (62261) Bus Arrival (Service No 324)
        </li>
        <li>
            - Timing of the next Shuttle departure
        </li>
    </ul>
  
   
    <p>Heading out from Kingsford? Click <a href="/kwbout">here</a>. to see transport preference!</p>
    
    <footer>
        Regards, <br/>
        <a href="http://eleazerarcilla.com">Eleazer Arcilla</a>
    </footer>
    
</div>
