@page "/KwbIn"
@attribute [StreamRendering]

<PageTitle>Going To KWB</PageTitle>
<h1>Going to Kingsford Waterbay (from Hougang Central, NE14)</h1>
<p>Showing the best transport mode:</p>
<KwbSuggestion Route="incoming" />