@page "/KwbOut"
@attribute [StreamRendering]

<PageTitle>Going Out of KWB</PageTitle>

<h1>Route: Going out of Kingsford Waterbay</h1>
<p>Showing the best transport mode:</p>
<KwbSuggestion Route="outgoing" />